button {
    border: 0px;
    --bgcolor: rgba(96, 86, 91, 0.0);
    background: var(--bgcolor);
    font-size: 20px;
}

button:hover {
    content: attr(title);
    cursor: pointer;
    --bgcolor: rgba(101, 98, 98, 0.4);
    background: var(--bgcolor);
    background-clip:  padding-box;
  }