button {
    float: left;
    border: 0px;
    border-radius: 15%;
    --bgcolor: rgba(96, 86, 91, 0.0);
    background: var(--bgcolor);
    font-size: 15px;
    display: block;
    text-align: center;
    padding: 5px 10px;
}

button:hover {
    cursor: pointer;
    --bgcolor: rgba(101, 98, 98, 0.4);
    background: var(--bgcolor);
}

.mode {
    float: right;
    --bgcolor: rgba(96, 86, 91, 0.0);
    background: var(--bgcolor);
    font-size: 14px;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    display: block;
    text-align: center;
    padding: 5px 10px;
}


.editorFrame {
    border: 2px solid lightgrey;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.editorFrame:focus-within {
    border: 2px solid black;
}

.buttonFrame {
    background-color: #b2bcc6;
    margin: 0;
    padding: 20px;
    overflow: hidden;
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
}

.expertFrame {
    float: right;
    --bgcolor: rgba(96, 86, 91, 0.0);
    background: var(--bgcolor);
    font-size: 14px;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    display: block;
    text-align: center;
    padding: 0px 0px;
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
}
