.editorFrame {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 100%;
    border: 2px solid lightgrey;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.editorFrame:focus-within {
    border: 2px solid black;
}

.buttonFrame {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* justify-content: space-between; */
    background-color: #231426;
    margin: 0;
    padding: 20px;
    overflow: hidden;
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
}

.expertFrame {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    --bgcolor: rgba(96, 86, 91, 0.0);
    background: var(--bgcolor);
    font-size: 14px;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    text-align: center;
    padding: 0px 0px;
    margin-left: auto;
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
}

.mode {
    display: flex;
    justify-content: flex-end;
    --bgcolor: rgba(96, 86, 91, 0.0);
    background: var(--bgcolor);
    font-size: 14px;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    text-align: center;
    /* padding-top: 0; */
    padding: 5px 10px;
}

.infoChild {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    padding: 0px 10px;
}

button {
    display: flex;
    justify-content: flex-start;
    border: 0px;
    border-radius: 15%;
    --bgcolor: rgba(96, 86, 91, 0.0);
    background: var(--bgcolor);
    font-size: 15px;
    text-align: center;
    max-height: 30px;
    padding: 5px 10px;
    color: #F3E283;
}

button:hover {
    cursor: pointer;
    --bgcolor: rgba(101, 98, 98, 0.4);
    background: var(--bgcolor);
}

.MuiFormControlLabel-labelPlacementEnd {
    color: #F3E283;
}

@media only screen and (max-width: 1225px) {
    button {
        text-align: center;
        font-size: 10px;
        height: 20px;
    }

    .expertFrame {
        flex-direction: row;
    }

    .editorFrame {
        height: 270px;
    }

    .mode .MuiCheckbox-root {
        padding: 0;
        margin: 0px 0px 10px 10px;
    }

    .infoChild {
        flex-direction: row;
        justify-content: flex-start;
        padding: 0px;
    }

    .infoChild .MuiButton-root  {
        font-size: 10px;
        height: 20px;
        margin-left: -20px;
    }

    .mode .MuiFormControlLabel-label {
        font-size: 0;
    }

}