.outer {
    width: 20px;
    margin-top: 10px;
}
  
.inner {
    margin-left: 40px;
}

.inner .button {
    outline: none;
    box-shadow: none;
}

.button {
    color: black;
    font-size: 12px;
    text-align: left;
}

i {
    color: gray;
}